@{
    ViewBag.Title = "Home Page";
}

<div class="">
    <div class="">
        <h1 class="pattern">KINGDOMS</h1>
        <p class="lead pattern">A battle of kingdoms, to start it press on Start</p>
    </div>

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-2">
                    <div class="btn"><img src="~/Images/play_button.png" title="Start Game" id="game" /></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/views/home.js"></script>
}