body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.campo_focus {
   border: 1px solid green;
}

.imghome {
    width: 100%;
    height: 580px;
    display: block;
    position: relative;
    background: url(../Images/home_back.png)  no-repeat #142d35;
}

.pattern {
    color: white;
}

.btn-pattern {
    color: black;
    height: 50px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.btnDelete {
    border: none;
    padding: 0px 0px;
    margin: auto;
}

#start {
    width: 280px;
    height: 60px;
}

#game {
    width: 500px;
}

#imgVict {
    width: 50px;
}

#imgWinner{
    float: right;
    border: transparent thin solid;
    padding: 1px;
    margin: -9px 80px 6px 0px;
    max-width: 186px;
}